<div id="exam-area-content" class="grid col-sm-11 mx-auto">
  <p id="test-information-lable">Test Information</p>

  <div class="jumbotron">

    <div>
      <h3 id="welcome-promt">Welcome to Test Portal</h3>


      <hr>
      <br>

      <p>- Test Portal will provide you with different question Categories that you can choose from</p>
      <p>- Once you click Start you will be provided with 10 questions related to the category that you selected</p>
      <p>- You can switch between the question</p>
      <p>- You cannot change the category when you start the test</p>
      <p>- You will see you results when you finish the test</p>

      <br>
      
      <h6>The test will start automatically after you select a category</h6>

    </div>

  </div>